.container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn-block {
  background: #3078ff;
  color: white;
  box-shadow: 8px 8px 30px #b9afe7;
}

.btn-fb {
  color: #6149cd;
  background-color: hsl(0, 0%, 100%);
  border: none;
  box-shadow: 8px 8px 30px #b9afe7;
}

.sign-in-btn {
  background: #3078ff;
  color: white;
  padding: 10px;
  box-shadow: 8px 8px 30px #b9afe7;
}

.inputbtn {
  position: relative;
}

.inputbtn>button {
  position: absolute;
  right: 10px;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 1024px) {
  .desktop {
    width: 80%;
    margin-left: auto;
  }
}

.divClass {
  border: 1px solid red;
}

@media only screen and (max-width: 800px) {
  .desktop {}
}

@media only screen and (max-width: 1023px) {
  .login-img {
    visibility: hidden;
    display: none;
    visibility: none;
    height: 0px;
    width: 0;
  }
}

.login-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider-text {
  padding: 0 5px;
  font-weight: 600;
  font-size: 11px;

}

hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #075efe;
  margin: 0 10px;
}

.btn-google {
  background-color: #265BBD;
  color: white;
}

.btn-facebook {
  background-color: #265BBD;
  color: white;
}

.btn-google:hover,
.btn-facebook:hover {
  opacity: 0.9;
}

.custom-checkbox {
  accent-color: #3078FF;
}

@media (max-width: 768px) {

  .Google-btn,
  .mb-2 {
    margin-bottom: 10px;
  }

  .row.justify-content-center {
    gap: 10px;
  }
}

.tab-label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.tab-icon {
  width: 40px;  
  height: 40px;
}

@media (max-width: 1024px) {
  .tab-label {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .tab-icon {
    width: 40px;  
    height: 40px;
  }

  .mat-tab-label {
    min-width: unset !important; 
  }
}

.social-btn {
  background-color: #265bbd;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-btn:hover {
  background-color: #2563EB;
}

.social-btn i {
  font-size: 16px;
}

.col-12 {
  padding-left: 5px;
  padding-right: 5px;
}
