body {
  background-color: #F5F5F5;
}



.mainHeader {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header-container{
  background-color: var(--bodyColor);
}

@media (max-width: 768px) {
  .dashboard-header, .mainHeader {
    position: static; 
  }
}

@media (max-width: 768px) {
  .dashboard-header, .mainHeader {
    position: static; 
  }
}

.dashboard-header {
  position: relative !important;
  /* box-shadow: none !important;
  box-shadow: none !important; */
}



.custom-container{
  background-color: var(--bodyColor);
}

.ximbox-logo{
  height: 50px;
}

.beta-logo{
  height:40px;
  width:50px
}

.category-button{
  font-size: small;
}

.category-header-logo{
  max-width: 18%;
}

.custom-navbar-list{
  font-size: 14px;
  border-radius: 10px
}

.trainer-nav-item{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pointer{
  cursor: pointer;
}

.community{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.notification-badge{
  font-size: xx-small;
  top: -2px;left: 22px;
}

.dashboard-icon{
  height:32px;
  width:32px;
}

.user-profile-img{
  height:35px;
  width:35px;
}

.custom-offcanvas{
  width: 60%; 
  height: 50% !important;
}

.sticky-container{
  position: sticky; 
  top: 0%; 
  z-index: 100;
}



.search-container{
  background-color: white;
}

.course-search-box{
  padding: 10px 0;
}

.inputContainer1 {
  position: relative; /* Ensures the suggestion box is positioned relative to the input */
  width: 100%;
}

.inputContainer1>i {
  position: absolute;
  /* color: #000000; */
  left: 10px;
}

.serach-logo{
  color: #307DFF;
}

.suggestions-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestions-list li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.suggestions-list li a {
  line-height: 20px;
  margin-bottom: 5px;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.suggestions-list h6 {
  margin: 0;
  padding: 0.2rem 0;
  padding-left: 5px;
  font-family: 200;
  color: var(--TextColor);
}

.location-dropdown{
  padding: 5px 10px; 
  border-bottom: 1px solid #ccc;
}

.courses-instructor{
  font-size: 14px;
}

.item-name{
  text-decoration: none; 
  color: black;
}

/* .searchinput {
  padding-left: 45px;
  font-size: var(--Poppins14);
  height: 40px;
  width: 335px;
  font-size: small;
} */


.searchloaction {
  padding-left: 45px;
  margin-right: 30px;
  font-size: var(--Poppins14);
  width: 230px;
  font-size: small;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  border: 1px solid #ccc; /* Optional: to define the border */
  border-radius: 5px; /* Optional: to soften the edges */
  transition: box-shadow 0.3s ease-in-out;
}

.icon {
  background-color: gray;
  color: skyblue;
  border-radius: 50%;
  padding: 15px;
}

.shadwo {
  box-shadow: 5px 5px 20px rgb(225, 223, 223);
}

.navmenu p {
  font-size: var(--Poppins14);
  color: #000000;
  cursor: pointer;
}

.Home-icon:hover {
  color: #000000 !important;
}

/* Become an Expert Button CSS */
.main-button span {
  position: relative;
  z-index: 5;
  color: #ffffff;
}

.main-button {
  border-radius: 3px;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 3;

  &:after {
    background-color: #3078ff;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1px;
    animation-name: blink;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    z-index: 4;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@keyframes blink {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0.8;
  }

  100% {
    transform: scale3d(1.1, 1.4, 1.1);
    opacity: 0;
  }
}



/* Whatapps icon css */

.whatsapp-icon {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 16px;
  bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0adc57;
  background-color: #e7eef4;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
  font-size: 35px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-icon:hover {
  background-color: #ffffff;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.active-link {
  background-color: #265BBD;
  color: white !important;
}

.Notification-icon {
  padding: 6px 8px;
}

.Notification-icon:hover,
.cart-icon:hover {
  border-radius: 50%;
  background-color: #F5F5F5;
  display: block;
  transform: scale(1.1);
  cursor: pointer;

}

/* Mobile Devices (up to 600px) */
@media (max-width: 600px) {
  .ximboa-logo>img {
    cursor: pointer;
    width: 100px !important;
    height: 100px !important;
  }

  .sign-in-up {
    width: 100%;
    text-align: end;
    margin-top: 10px;
  }

  .globale-search {
    margin-left: 10px;
  }

  .cart-icon {
    width: 20px;
  }

  .searchinput {
    width: 350px;
  }

  .dashboard-header {
    position: relative !important;
  }
}

/* Tablets (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {}

/* Desktop/Laptops (1025px and above) */
@media (min-width: 1025px) {
  
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
    height: 60px;
  }
  .dashboard-header {
    position: relative !important;
  }
}

.custom-tooltip {
  --bs-tooltip-bg: var(--TextColor);
  --bs-tooltip-color: #ffffff;
}

.nav-link {
  font-size: 11px;
}



.search-title {
  padding-left: 10px;
  color: #000;
}

.search-title span {
  color: #007bff;
}

.search-input .form-control {
  border: 1px solid #ddd;
  border-radius: 25px;
}

.menu-button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 15px 14px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .search-input {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.unique-animated-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.unique-box {
  height: 20px;
  overflow: hidden;
  position: relative;
}

.unique-box::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 14px;
  position: absolute;
}

.unique-box::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: '';
  height: 13px;
  position: absolute;
}

.unique-text {
  float: left;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  /* color: #265ABB; */
  color: #2351A9;
  animation: uniqueScrollUp 4s infinite;
  font-size: 17px;
}

@keyframes uniqueScrollUp {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}


.category-dropdown {
  font-family: 'Poppins', sans-serif;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 240px;
  position: absolute;
  z-index: 1000;
  display: none;
}

.dropdown-item {
  position: relative;
  padding: 7px 6px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s ease;
}

.dropdown-item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-item:hover {
  background-color: #edf7ff;
  color: #0056b3;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -10px;
  display: none;
  position: absolute;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-item span i {
  margin-right: 8px;
  font-size: 14px;
}

.dropdown-item:last-child i {
  font-size: 12px;
  color: #aaa;
}

/* ------------ */
.searchcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchbox {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 32px 25px;
  width: 330px;
  height: 72px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.search {
  position: absolute;
  left: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #666;
}

.searchinput {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  border: 1px solid #ccc; 
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.suggestions-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 500px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
}

.suggestion-group {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.suggestion-group:last-child {
  border-bottom: none;
}

.group-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.suggestion-items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.suggestion-item {
  font-size: 14px;
  cursor: pointer;
}

.suggestion-item a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
}

.suggestion-item:hover a {
  color: #307DFF;
  font-weight: 500;
}

.suggestions-list {
  min-width: 100px; 
  background: white;
  border: 1px solid #ccc;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  padding: 10px;
  border-radius: 5px;
  max-height: 250px;
  overflow-y: auto;
}

.suggestions-list::-webkit-scrollbar {
  width: 6px;
}

.suggestions-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.suggestions-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.location-input-group{
  width: 300px; 
  background: #FFFFFF;
  height:45px;
  border: 1px solid #EEEEEE;
  box-shadow: 4px 11px 35px rgba(0, 0, 0, 0.07);
  border-radius: 25px !important;
  display: flex;
  align-items: center;
}

.custom-input-group {
  border-radius: 25px !important;
  display: flex;
  align-items: center;
  width: 500px; 
  background: #FFFFFF; 
  height: 45px;
  border: 1px solid #EEEEEE;
  box-shadow: 4px 11px 35px rgba(0, 0, 0, 0.07);   
}

.custom-icon {
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}

.custom-input {
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}

@media (max-width: 600px) {
  .sticky-container {
    width: 100%;
    padding: 10px;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .d-flex.align-items-center.gap-5 {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .input-group,
  .custom-input-group,
  .location-input-group {
    width: 100% !important;
    max-width: 350px;
    display: flex;
  }

  .input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
  }

  .menu-button {
    width: 50px;
    height: 50px;
    font-size: 18px;
  }
}

.btn-login {
  background-color: #009DFF;
  color: white !important;           
  border: none;            
}

.btn-login:hover {
  background-color: #265BBD;
  color: white !important;  
}

.active-links{
  background-color: #265BBD;
  color: white !important;
}

.btn-signin{
  background-color: #ffffff  ;
  color: #009DFF;
}

.btn-signin:hover {
  background-color: #265BBD;
  color: white !important;   
}

.actives-links{
  background-color: #265BBD;
  color: white !important;
}


.category-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.category-dropdown .dropdown-toggle::after {
  display: none; 
}
