<div class="bg-light">
  <div class="container py-3 ">
    <div class="row custom-text">
      <div>
        <h5>Popular Categories</h5>
        <ul class="category-list d-flex justify-content-around list-unstyled gap-2 rounded px-1 py-2"
          >
          <li *ngFor="let category of categories" (click)="fetchSubcategories(category._id)"
            class="category-item category border rounded py-2 px-3" [class.selected]="category._id === selectedCategory"
            >
            {{ category.category_name }}
          </li>
        </ul>
      </div>
  
      <!-- Subcategories Section -->
      <div *ngIf="selectedCategory">
        <div *ngIf="loadingSubcategories">Loading...</div>
        <div *ngIf="!loadingSubcategories && subcategories.length > 0">
          <div class="subcategory-container">
            <ul #subcategoryList
              class="d-flex justify-content-lg-start list-unstyled gap-2 category-list rounded px-1 py-1">
              <ng-container *ngFor="let subcategory of subcategories; let i = index">
                <li [class.selected]="subcategory._id === selectedSubcategory"
                  (click)="fetchCourses(subcategory._id); selectedSubcategory = subcategory._id" class="subcategory category"  [routerLink]="['']"
                  [queryParams]="{ filter: subcategory.sub_category_name }" >

                  {{ subcategory.sub_category_name }}
                </li>
                <span *ngIf="i < subcategories.length - 1"> | </span>
              </ng-container>
            </ul>
  
          </div>
        </div>
  
        <!-- No Subcategories Found -->
        <div *ngIf="!loadingSubcategories && subcategories.length === 0">
          No subcategories found.
        </div>
      </div>
    </div>
  
    <div class="row mt-3">
      <div class="my-2">
        <h5>Popular Courses</h5>
        <div *ngIf="loadingCourses" class="text-center">Loading courses...</div>
        
        <div *ngIf="selectedSubcategory && courses.length > 0">
          <ul class="list-unstyled d-flex flex-wrap gap-2 course-list">
            <ng-container *ngFor="let course of courses; let i = index">
              <li
                [routerLink]="['/couserenroll', course._id]"
                [queryParams]="{ filter: course.course_name }"
                class="course-item">
                {{ course.course_name }}
              </li>
              
              <span *ngIf="i < courses.length - 1" class="separator"> | </span>
            </ng-container>
          </ul>
        </div>
      
        <!-- Show message if no courses are available -->
        <div *ngIf="selectedSubcategory && !loadingCourses && courses.length === 0">
          No courses available for this subcategory.
        </div>
      </div>
      
      
    </div>
  </div>
</div>
