.dialog-title {
    margin-top: 6px;
    font-size: 2.5rem;
    font-weight: 200;
  }

.dialog-content p, 
.dialog-content ul, 
.dialog-content h4 {
  font-size: 1.1rem;
  color: #333;
  max-height: 450px;
}

.dialog-content h3{
    font-size: 2rem;
  color: #333;
}

.close {
  background: #3078FF;
  color: white !important;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: none;
}
